.button {
  background: $blue;
  color: #fff;
  display: inline-block;
  font-weight: 300;
  font-size: $font-size-lg;
  padding: $s-size;
  line-height: 1;
  text-decoration: none;
}

.button--link {
  background-color: transparent;
  font-family: inherit;
  color: #fff;
}

.button--danger {
  background: $red;
}
