html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: $m-size;
  text-align: center;
}

button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  color: #e0245e;
}

a {
  display: inline-block;
  margin: 0 2rem;
  color: #e0245e;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
h1 {
  border-bottom: 2px solid #000;
  padding-bottom: 2rem;
}
